.articles {
    background: #f7f7fa;
    border-radius: 20px;
    padding-top: 480px;
    margin-top: -430px;

    .owl-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;

        .owl-prev,
        .owl-next {
            width: 40px;
            height: 40px;
            background: #3b394f !important;
            border-radius: 50%;
            margin: 0 10px;
            transition: .5s all;

            &:focus {
                outline: none;
            }

            &:hover {
                background: #bfa071 !important;
            }

            span {
                font-size: 40px;
                margin-top: -8px;
                margin-left: 0px;
                display: block;
                color: #fff;
            }
        }
    }

    .row-articles {
        .single {
            padding: 0;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.06);
            background-color: #ffffff;
            transition: all 0.4s;

            @media(min-width: 992px) {
                flex: 0 0 30.333333%;
                max-width: 30.333333%;
                margin-right: 3%;
            }

            &:hover {
                transform: translateY(-20px);
            }

            .image {
                border-radius: 15px 15px 0 0;

                img {
                    border-radius: 15px 15px 0 0;
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .single-content__padding {
                padding: 2px 35px 35px 35px;
            }

            .date {
                margin-top: 22px;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.71px;
                color: #aaaaaa;
                text-transform: uppercase;
            }

            .title {
                margin: 14px 0 13px;
                font-size: 18px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.42;
                letter-spacing: normal;
                color: #1f1b1a;
                display: block;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.56;
                letter-spacing: normal;
                color: #7c7c7c;
            }

            .more {
                color: #1f1b1a;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.86px;
                text-transform: uppercase;
                font-size: 12px;

                img {
                    width: 17px;
                    height: auto;
                }
            }
        }
    }

    .send-form {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 360px;
            height: 44px;
            margin: 30px auto 0;
            border-radius: 22px;
            background-color: #3b394f;
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.86px;
            transition: all 0.4s;
        }
    }
}

body.archive,
.page-template-articles,
.page-template-ecommerce {
    .articles {
        background: #fff;
    }

    .category {

        // background: #bfa071;
        .row {
            background: #3b394f;
            border-radius: 20px;
        }

        .cat {
            width: 20%;
            text-align: center;
            padding: 50px 0;
            transition: all 0.4s;

            @media(max-width:1200px) {
                width: 33%;
            }

            @media(max-width:900px) {
                width: 50%;
            }

            @media(max-width:600px) {
                width: 100%;
            }

            &:hover {
                background: #fff;
                box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.12);

                .icon {
                    img {
                        filter: none;
                    }
                }

                span {
                    color: #bfa071;
                }

                .more {
                    color: #bfa071;
                }
            }

            &:first-child {
                border-radius: 15px 0 0 15px;
            }

            &:last-child {
                border-radius: 0 15px 15px 0;
            }

            .title {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .icon {
                img {
                    width: 30px;
                    height: auto;
                    filter: brightness(0) invert(1);
                    margin-right: 17px;
                    transition: all 0.4s;
                }
            }

            .cat__links {
                padding: 1em 0;
            }

            span {
                color: #fff;
                font-weight: 700;
                font-size: 18px;
                transition: all 0.4s;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .more {
                color: #fff;
            }
        }
    }
}


.row-pagination {
    width: 100%;
}

.pagination span,
.pagination a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #99a9b5;
    margin: 0 5px;
    color: #99a9b5;
    font-weight: 700;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0 100px;

}

.pagination .current {
    background: #3b394f;
    border-color: #3b394f;
    color: #fff;
}

.pagination a {
    transition: all 0.4s;
}

.pagination a:hover {
    background: #3b394f;
    border-color: #3b394f;
    color: #fff;
}


.search-results {
    .articles {
        background: transparent;
    }
}

@media(min-width: 992px) {
    .articles-single-post .row-articles .single {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        min-height: 510px;

        &:hover {
            transform: translateY(0px);
        }
    }
}

.articles-single-post .row-articles .single {
    &:hover {
        transform: translateY(0px);
    }
}