.banner {
    background: url(../img/Kancelaria-Prawna-RPMS-Prawo-Podatki-Windykacja_2.jpg) center top no-repeat;
    background-size: cover;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}