.casestudy .single {
    background: #f7f7fa;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 40px;
}

.casestudy .single .case-number {
    background: #3b394f;
    display: inline-block;
    color: #fff;
    padding: 10px 40px;
    border-radius: 9;
    font-weight: 700;
    margin-bottom: 30px;
}