footer {
    background: #3b394f !important;
    color: #fff;
    border-radius: 20px;
    padding: 60px 0 0 0;
    .info {
        @media(max-width: 992px) {
            text-align: center;
        }
        .logo {
            max-width: 325px;
            height: auto;
            margin-bottom: 25px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: normal;
            color: #ffffff;
        }
        .social {
            display: flex;
            @media(max-width: 992px) {
                justify-content: center;
            }
            li {
                list-style-type: none;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44px;
                    height: 44px;
                    margin: 0 10px 0 0;
                    padding: 13px;
                    border-radius: 25px;
                    background-color: #201e31;
                    font-size: 17px;
                    @media(max-width: 992px) {
                        margin: 0 8px;
                    }
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .links {
        @media(max-width: 992px) {
            text-align: center;
        }
        span {
            font-size: 20px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #bfa071;
            display: block;
            margin: 3px 0 30px 0;
            @media(max-width: 992px) {
                margin: 0 0 15px 0;
            }
        }
        ul {
            li {
                list-style-type: none;
                @media(min-width: 992px) {
                    margin-bottom: 11px;
                }
                a {
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.13;
                    letter-spacing: normal;
                    color: #ffffff !important;
                }
            }
        }
    }
    .copy {
        margin-top: 60px;
        border-top: 3px solid #d8d8d8;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 30px 0;
        opacity: 0.5;
    }
}