.logotype {
    overflow: hidden;
    max-height: 500px;
    transition: .5s all;

    &.viewall {
        max-height: unset;
        transition: .5s all;
    }




    .owl-carousel .owl-stage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-stage-outer {
        overflow: visible !important;

        .owl-item {
            opacity: 0.2;
            transition: all 0.4s;

            &.active {
                opacity: 1;
            }
        }
    }

    .item {

        img {
            width: auto !important;
            max-height: 80px;
            margin: auto;
        }
    }
}

#alllogos {
    display: block;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    background: #2c2a3e;
    color: #fff;
    border-radius: 504px;
    padding: .5em;
    width: auto;
    transition: all .5s;
    margin-bottom: 3rem;
    cursor: pointer;

    &:hover {
        background: #bfa071;
    }
}