.maps {

    .desc {
        h2 {
            font-size: 35px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;

            strong {
                font-weight: 900;
            }

            &:after {
                content: '';
                width: 50px;
                height: 4px;
                margin: 25px 0 30px;
                border-radius: 2px;
                background-color: #bfa071;
                display: block;
            }
        }

        b {
            display: block;
            font-size: 22px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.45;
            margin-bottom: 25px;
        }

        .link {
            color: #3b394f;
            display: flex;
            font-size: 12px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.86px;
            margin-top: 20px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.4s;
            padding: 16px 30px;
            width: 220px;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 25px;
            background-color: #f6f6f6;

            &:hover {
                color: #fff;
                background: #bfa071;

                img {
                    filter: brightness(0) invert(1);
                }
            }

            img {
                width: 20px;
                height: auto;
                transition: all 0.4s
            }
        }
    }

    #demo-agents {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        ul {
            li {
                position: absolute;
                z-index: 9999;
                background: #fffffff0;
                padding: 1.5em 1em 0;
                border-radius: 1em;
            }



            #dolnoslaskie {
                top: 69%;
                left: 13%;
            }

            #kujawsko-pomorskie {
                top: 44%;
                left: 30%;
            }

            #lubelskie {
                top: 60%;
                left: 60%;
            }

            #lubuskie {
                top: 50%;
                left: 6%;
            }

            #lodzkie {
                top: 57%;
                left: 37%;
            }

            #malopolskie {
                top: 80%;
                left: 46%;
            }

            #mazowieckie {
                top: 40%;
                left: 50%;
            }

            #opolskie {
                top: 73%;
                left: 27%;
            }

            #podkarpackie {
                top: 82%;
                left: 61%;
            }

            #podlaskie {
                top: 40%;
                left: 62%;
            }

            #pomorskie {
                top: 25%;
                left: 27%;
            }

            #slaskie {
                top: 64%;
                left: 31%;
            }

            #swietokrzyskie {
                top: 72%;
                left: 52%;
            }

            #warminsko-mazurskie {
                top: 33%;
                left: 51%;
            }

            #wielkopolskie {
                top: 45%;
                left: 22%;
            }

            #zachodniopomorskie {
                top: 37%;
                left: 5%;
            }
        }
    }
}