.teams {
    background: #f7f7fa;
    border-radius: 20px;
    .row-nav {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            li {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin: 0 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 80px;
                border: solid 3px #0e0e0e;
                transition: all 0.4s;
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin: 0;
            width: auto !important;
            display: flex;
            font-size: 35px;
            width: 100%;
            align-items: center;
            line-height: 45px;
            &:after {
                content: '';
                width: 50px;
                height: 4px;
                margin: 25px 0 30px 30px;
                border-radius: 2px;
                background-color: #bfa071;
                display: block;
            }
            strong {
                margin-left: 10px;
                font-weight: 900;
                color: #3b394f;
            }
        }
    }
    .row-carousel {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.teams .zespol-loop .single-person {
    background-color: #fff;
    box-shadow: none !important;
}