#uslugi-prawne,
#prawo-pracy,
#sprawy-sporne,
#prawo-budowlane {
    .articles {
        padding-top: 40px;
        margin-top: 80px;
    }
}

#prawo-spolek,
#prawo-pracy,
#sprawy-sporne {
    .specialization .form {
        min-height: auto !important;
        padding: 30px 20px 0 20px;
    }
}

.uslugi-item {
    overflow: hidden;
    padding: 80px 0 80px 0;
    margin-top: 20px;

    .container {
        position: relative;
    }

    .uslugi-item__content {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        transition: all 0.4s;
        padding: 3em;
        text-align: justify;

        h2 {
            font-weight: 900;
            color: #3b394f;
            margin-top: 0em;

            @media(min-width: 992px) {
                font-size: 24px;
                line-height: 1.25;
            }
        }


        h3 {
            font-weight: 900;
            color: #3b394f;
            margin-top: 0em;

            @media(min-width: 992px) {
                font-size: 20px;
                line-height: 1.25;
            }
        }

        img {
            margin-bottom: 2em;
        }

        p {
            color: #3b394f;

            strong {
                font-weight: 900;
            }
        }

        a {
            color: #bfa071;
            font-size: 1.1em;
            line-height: 1.8;
        }

        a.cta {
            display: inline-block;
            color: #fff;
            background: #bfa071;
            padding: 10px 25px 8px 25px;
            margin-top: 15px;
            text-transform: uppercase;
            font-weight: 800;
            border: 2px solid #bfa071;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: all .5s;

            &:hover {
                background: #fff;
                color: #bfa071;
            }
        }

        a.cta_more {
            float: right;
            border-bottom: 3px solid #bfa071;
            padding: 0 10px;
            margin-top: 18px;
            transition: all .5s;

            &::after {
                content: '→';
                padding-left: 10px;
                display: inline-block;
                transition: all .5s;
            }

            &:hover {
                color: #bfa071;

                &::after {
                    transform: translateX(10px);
                    color: #bfa071;
                }
            }
        }
    }

    .uslugi-item__right-img {
        position: absolute;
        right: 0;
        z-index: -1;
        max-width: 55%;
        width: 100%;
        top: -80px;
        bottom: -80px;
    }
}

.uslugi-list {
    .uslugi-item {
        margin: 80px 0;
    }

    .uslugi-item:nth-last-of-type(2n+2) {
        .col-lg-7 {
            order: 2;
        }

        .uslugi-item__right-img {
            right: unset;
        }
    }
}

.uslugi-ol {
    background: #f7f7fa;
    border-radius: 20px;
    margin: 50px 20px;
    padding: 50px 0px;
    border-bottom: 4px solid #bfa071;

    p.big {
        font-weight: 800;
        color: #3b394f;
        margin-top: 2em;
        font-size: 24px;
        padding-bottom: 0.3em;
        line-height: 1.25;
    }

    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    ol li {
        counter-increment: my-awesome-counter;
        display: block;
        width: 50%;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
        padding-right: 2rem;
        padding-left: 4em;
        line-height: 1.5;
        color: #3b394f;
        text-align: justify;
        position: relative;
        transition: all .5s;

        strong {
            font-weight: 800;
        }

        a {
            color: #bfa071;
        }

        &::before {
            content: counter(my-awesome-counter);
            font-weight: 300;
            font-size: 22px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: 4px;
            width: 40px;
            background: #3b394f;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 4.5px;
            color: #fff;
            transition: all .5s;
        }

        &:hover {

            //background: #ccc;
            &::before {
                background: #bfa071;
            }
        }
    }
}

.uslugi-tabs {
    .nav-pills {
        justify-content: space-between;

        .nav-item {
            width: 24%;
            border: none;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            text-align: center;

            .nav-link {
                background: unset;
                color: #bfa071;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 3px solid #bfa071;
                border-radius: 10px;
                transition: all .5s;

                h3 {
                    font-size: 16px;
                    margin: 0;
                    color: #bfa071;
                }

                &.active {
                    background: #3b394f;
                    border: 3px solid #3b394f;
                    color: #fff;

                    h3 {
                        color: #fff;
                    }
                }

                &:hover {
                    background: #3b394f;
                    border: 3px solid #3b394f;
                    color: #fff;

                    h3 {
                        color: #fff;
                    }
                }
            }
        }
    }

    .tab-pane {
        background: #f7f7fa;
        padding: 40px 20px 20px 20px;
        border-radius: 20px;
        box-shadow: 0 12px 44px 0 rgba(0, 0, 0, .12);
    }
}

.text-form {}

.greybox {
    .content {
        background: #f7f7fa;
        border-radius: 20px;
        margin: 50px 0;
        padding: 50px;
    }

    .bold-text {
        font-weight: 900;
        font-size: 26px;
        margin-bottom: 28px;
        color: #3b394f;
    }
}

.bluebox {
    .content {
        background: #f1f9ff;
        border-radius: 20px;
        margin: 50px 0;
        padding: 50px;
    }

    .bold-text {
        font-weight: 900;
        font-size: 26px;
        margin-bottom: 28px;
        color: #3b394f;
    }
}

.number-list {
    li {
        counter-increment: inst;
        list-style-type: none;
        position: relative;
        margin-bottom: 25px;
        padding-left: 10px;
        line-height: 30px;

        &:before {
            content: counter(inst);
            position: absolute;
            background: #3b394f;
            width: 30px;
            height: 30px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            left: -40px;
            top: 0px;
        }
    }
}

.special-list {
    li {
        list-style-type: none;
        position: relative;
        margin: 10px 0;
        line-height: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            background: #bfa071;
            top: 7px;
            left: -29px;
        }
    }
}

.images {
    img {
        border-radius: 20px;
        transition: all .5s;

        &:hover {
            transform: translateY(-15px);
        }
    }
}