.why-rpms {
    .row {
        .row-single {
            padding: 50px;
            background: #f7f7fa;
            transition: all 0.4s;
            position: relative;
            border-radius: 10px 10px 0 0;
            height: 100%;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient(to bottom, rgba(59, 57, 79, 0) 5%, rgba(59, 57, 79, 0.28) 29%, #262342);
                opacity: 0;
                transition: all 0.4s;
            }

            &:hover {
                transform: scale(1.04);

                &:after {
                    opacity: 1;
                }

                .icon {
                    opacity: 0;
                }

                .image {
                    img {
                        opacity: 1;
                    }
                }

                .title h4,
                .desc {
                    color: #fff;
                }
            }

            .image {
                img {
                    border-radius: 10px 10px 0 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0;
                    transition: all 0.4s;
                }
            }

            .icon {
                transition: all 0.4s;

                img {
                    width: 63px;
                    height: auto;
                }

                margin-bottom: 20px;

                @media(min-width: 992px) {
                    margin-bottom: 150px;
                }
            }

            .title {
                position: relative;
                z-index: 2;

                h4 {
                    transition: all 0.4s;
                    color: #0e0e0e;
                    font-weight: 800;

                    @media(min-width: 992px) {
                        font-size: 22px;
                    }
                }
            }

            .desc {
                position: relative;
                z-index: 2;
                transition: all 0.4s;
                color: #989fa3;
            }
        }
    }
}