/* 
Here will go all custom scss for theme
*/


/*
fonts


Muli Light font-family: muli,
sans-serif;

font-weight: 300;

font-style: normal;


Muli Regular font-family: muli,
sans-serif;

font-weight: 400;

font-style: normal;


Muli ExtraLight font-family: muli,
sans-serif;

font-weight: 200;

font-style: normal;


Muli SemiBold font-family: muli,
sans-serif;

font-weight: 600;

font-style: normal;


Muli Bold font-family: muli,
sans-serif;

font-weight: 700;

font-style: normal;


Muli ExtraBold font-family: muli,
sans-serif;

font-weight: 800;

font-style: normal;


Muli Black font-family: muli,
sans-serif;

font-weight: 900;

font-style: normal;


*/

$white: #fff;
$all_tr: all .5s;

body {
    font-family: 'muli', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1420px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
    color: #3b394f;
}

p.big {
    font-weight: 800;
    color: #3b394f;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 24px;
    padding-bottom: 0.3em;
    line-height: 1.25;
}

a {
    color: #bfa071;

    &:hover {
        text-decoration: underline;
        color: #bfa071;
    }
}

p {
    line-height: 30px;
    text-align: justify;

    strong {
        font-weight: 900;
    }
}

.big-strong {
    p {
        strong {
            font-size: 18px;
        }
    }
}

a.cta__right {
    color: #bfa071;
    font-size: 1.1em;
    line-height: 1.8;
    display: inline-block;
    color: #fff;
    background: #bfa071;
    padding: 10px 25px 8px 25px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #bfa071;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .5s;
    display: block;
    max-width: 200px;
    text-align: center;
    margin: 0 0 0 auto;

    &:hover {
        background: #fff;
        color: #bfa071;
    }
}

.row-title {

    h2,
    h3 {
        display: block;
        text-align: center;
        font-size: 35px;
        width: 100%;
        line-height: 45px;

        &:after {
            content: '';
            width: 50px;
            height: 4px;
            margin: 25px auto 30px;
            border-radius: 2px;
            background-color: #bfa071;
            display: block;
        }

        strong {
            font-weight: 900;
            color: #3b394f;
        }
    }
}

.navbar.navbar-expand-xl {
    position: inherit;
}

.megamenudk {
    position: inherit;

    .dropdown-menu.show {
        position: absolute;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        box-shadow: 40px 30px 50px 0 rgba(0, 0, 0, 0.10);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 0;
        margin-top: -3px;
        padding-bottom: 20px;
        background: #3b394f;
        border: 0;
        border: 2px solid #b5976b;
        border-top: 5px solid #b5976b;

        .nodrops {
            position: relative;
            width: 25%;
            margin: 0;
            background: #3b394f;
            text-align: center;
            padding: 0 15px;

            a {
                color: #fff;
                padding: 20px 0;
            }

            a:after {
                display: none;
            }

            .dropdown-menu {
                display: block;
                position: relative;
                left: 0;
                width: 100%;
                border: 0;
                padding: 10px;
                margin: 0;
                height: calc(100% - 70px);
            }

            .menu-item {
                margin-left: 0;

                a {
                    color: #23282d;
                    text-align: left;
                    padding: 10px 0;
                    margin-left: 15px;
                    transition: all .5s;

                    &:hover {
                        color: #b5976b;
                        transform: translateX(10px);
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    background: #3b394f;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    margin-top: 20px;
    font-size: 18px;

    a {
        color: #b5976b;
        margin-right: 10px;
    }

    .breadcrumb_last {
        margin-left: 10px;
    }
}

@import "_header";
@import "_banner";
@import "_specialization";
@import "_team";
@import "_why";
@import "_about";
@import "_logotype";
@import "_contact";
@import "_mapa";
@import "_articles";
@import "_partners";
@import "_opinion";
@import "_faq";
@import "_footer";
@import "_banner-uslugi";
@import "_uslugi";
@import "_prawo";